body {
	font-family: 'new-hero', sans-serif;
	background-color: #a4d4f5;
	display: flex;
	justify-content: center;
	height: 80vh;
  }

/* Image de fond */
.image-fond {
	max-width: 50px; 
	opacity: 0.8;
}

  /* Carte météo */
  .meteo-card {
	background: linear-gradient(1deg, #6fc3f7, #439bda);
	width: 300px;
	border-radius: 20px;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 20px;
	color: white;
  }
  
  /* Titre principal */
  h1 {
	font-family: "new-hero", sans-serif;
	font-weight: 600;
	font-style: normal;
	cursor: pointer;
  }
  /* juste pour le "®" !*/
  .titre .simple {
	font-family: Arial, sans-serif;
	font-size: small;
  }
  
  /* En-tête */
  .header {
	display: flex;
	font-size: 18px;
	align-items: center;
	justify-content: space-between;
  }
  
  .choix-ville {
	cursor: pointer;
  }
  
  .reglages-icon {
	cursor: pointer;
	display: flex;
	flex-direction: row-reverse;
	font-size: 120%;
	margin-left: 19%;
  }
  
  /* Météo actuelle */
  .meteo-actuel {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  h2.temperature {
	margin: 0;
  }

  .temperature {
	font-size: 80px;
  }
  
  .condition {
	font-size: 15px;
	font-weight: bold;
  }
  
  .maximale-minimale {
	font-size: 16px;
	opacity: 0.8;
  }

  /* Prévisions des prochains jours */
  .prochains-jours {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #a4d4f5;
	border-radius: 10px;
  }
  
  .jour {
	display: flex;
	align-items: center;
	width: 80%;
	justify-content: space-between;

  }

  .jour p:first-child {
	font-weight: bold;
  }
  
  .jour p:last-child {
	font-size: 14px;
	opacity: 0.8;
  }
  
  .carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}